apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{.ProjectName}}-content
  namespace: {{.Namespace}}
  labels:
    app: {{.ProjectName}}
    displace.tech/project: {{.ProjectName}}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: {{ .StorageClass | default "standard" }}
