apiVersion: v1
kind: Service
metadata:
  name: {{.ProjectName}}
  namespace: {{.Namespace}}
  labels:
    app: {{.ProjectName}}
    displace.tech/project: {{.ProjectName}}
spec:
  selector:
    app: {{.ProjectName}}
  ports:
  - name: http
    port: 80
    targetPort: http
  type: ClusterIP
