apiVersion: v1
kind: Service
metadata:
  name: {{.ProjectName}}
  namespace: {{.Namespace}}
  labels:
    app.kubernetes.io/name: {{.ProjectName}}
    app.kubernetes.io/instance: {{.ProjectName}}
    app.kubernetes.io/component: app
    app.kubernetes.io/managed-by: displace
spec:
  selector:
    app.kubernetes.io/name: {{.ProjectName}}
    app.kubernetes.io/component: app
  ports:
  - name: http
    port: 80
    targetPort: http
  type: ClusterIP
